@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Montserrat',sans-serif;
  /* font-family:'Roboto',sans-serif; */
  
}

.container{
  width:94%;
  max-width: 1170px;
  margin:0 auto;

}

.btn__primary{
  display:inline-block;
  color: #fff;
  background:#FF6E40;
  text-decoration:none;
  padding: 10px 20px;
  border-radius:5px;

}
